
<!-- Phan Body Author moi-->
<div class="container" style="padding-top: 50px;"  ng-init="getAuthor()">
	<div class="row testfade">
		<div class="col-md-3 toolbar" style="border-right: 2px solid #E7E7E7; border-bottom: 2px solid #E7E7E7;">	
				<form action="" class="navbar-form" id="searchplace">
   					<div class="input-group">
       					<input type="Search" placeholder="Tìm kiếm..." class="form-control" ng-model="text"/>
       					<div class="input-group-btn">
           					<button class="btn btn-default">
           						<a href="#/search/{{text}}">
           							<span class="glyphicon glyphicon-search"></span>
           						</a>
           					</button>
       					</div>
   					</div>
				</form>
			<br>
			<br>
			<div class="panel panel-default" ng-init="getCategories()">
				<div class="panel-heading"><h4 style="font-weight: bold;">Sách</h4></div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-pills-danger nav-stacked">
						<li ng-repeat="categories in categories"><a href="#category/{{categories._id}}">{{categories.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<form action="" class="navbar-form" id="searchplace1">
   					<div class="input-group">
       					<input type="Search" placeholder="Tìm kiếm..." class="form-control" ng-model="text"/>
       					<div class="input-group-btn">
           					<button class="btn btn-default">
           						<a href="#/search/{{text}}">
           							<span class="glyphicon glyphicon-search"></span>
           						</a>
           					</button>
       					</div>
   					</div>
				</form>
			<div class="sachmoi">
				<div style="background-color: #222222; color: white; padding: 20px; border-radius: 2px; margin-bottom: 30px;">
					<h4>Tác giả: {{text}}</h4>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="book in books" style="text-align: center;">
				<div class="bg">
						<img class="otherbooks" ng-src={{book.images.main}} alt=""/>
						<div class="overlay"></div>
						<button class="btn btn-danger my-cart-btn testbtn" data-id="1" data-name="product 1" data-summary="summary 1" data-price="10" data-quantity="1" data-image="images/travelbook.jpg"><span class="glyphicon glyphicon-shopping-cart"></span>ADD TO CART</button>
						<div class="tuasach">
							<a href="#detail/{{book._id}}"><h5 class="otherbooktitle">{{book.title}}</h5>
							<h6 class="otherbookauthor">{{book.author}}</h6>
							<h5 class="otherbookprice">{{book.sellingPrice|number}}<sup>đ</sup></h5></a>
						</div>		
				</div>
			</div>
		</div>
	</div>
</div>
