body {
	background-color:  white;
	padding-top: 70px;
	position: relative;
}
.fixed-nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.input-group {
	margin-top: 50px;	
}
.logoimages {
	text-align: center;
}
.about {
	margin-top: 50px;
}
.navbar-inverse {
	border: 0px;
	margin-bottom: 0px;
	position: fixed;
}
.head {
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
	
}
h5 {
	font-weight: bold;
}
.titleheader {
	font-family: 'iCiel Brush Up';
	font-size: 8em;
}
.subheader {
	color: #fff;
   	font-family: Benton Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.5em;
   	font-weight: bolder;
}
.keytittle {
	font-family: 'iCiel Brush Up';
	font-size: 2em;
}
.theme {
	margin-bottom: 120px;	
}
.parttwo {
	background-color: #ECE8DD;
	height: 700px;
	padding-right: 0px;
}
.parttwo1 {
	height: 280px;
}
.parttwodetail1 {
	background-color: #ECE8DD;
	padding-right: 0px;
}
.highlight {
	color: black;
   	font-family: Benton Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.5em;
   	font-weight: bolder;
}
#highlight {
	color: #676358;
}
#featuredbooks {
	color: #676358;
}
#featuredbooks1 {
	color: #676358;
	margin-left: 70px;
	margin-top: 20px;
}
.hrhighlight {
	width: 80px;
	border-color: #676358;
	margin-top: 10px;
	margin-left: 0px;
}
.hrfeaturedbooks {
	width: 120px;
	margin-top: 10px;
	border-color: #676358;
	margin-left: 0px;
}
.hrfeaturedbooks1 {
	width: 120px;
	margin-top: -5px;
	margin-left: 70px;
	border-color: #676358;
}
.bookhighlight {
	box-shadow: 10px 10px 5px #888888;
	border: 0px;
	width: 250px;
	height: 380px; 
}
.booktitle {
	font-family: 'Times New Roman',Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
}
.booktitle1 {
	font-family: 'Times New Roman',Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
	margin-top: 50px;
}
.otherbooktitle {
	font-family: 'Times New Roman',Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bolder;
	margin-top: 25px;
	line-height: 18px;
	color: white;
}
.subbooktitle {
	font-family: 'Times New Roman',Helvetica Neue,Helvetica,Arial,sans-serif;
	margin-top: 0px;
	margin-bottom: 20px;
}
.bookauthor {
	color: #97928C;
	font-family: 'Times New Roman',Helvetica Neue,Helvetica,Arial,sans-serif;
	margin-bottom: 20px;
}
.otherbookauthor {
	color: white;
	font-family: 'Times New Roman',Helvetica Neue,Helvetica,Arial,sans-serif;
	margin-bottom: 5px;
	font-weight: bolder;
}
.bookprice {
	font-family: 'Times New Roman',Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #EC791C;
}
.bookprice1 {
	font-family: 'Times New Roman',Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: #EC791C;
	margin-top:0px;
}
.otherbookprice {
	font-family: 'Times New Roman',Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: red;
	text-shadow: 2px 1px white;
}
.otherbooks {
	width: 200px;
	height: 300px;
	box-shadow: 10px 10px 5px #888888;
}	
#middleCarousel {
	background-color: none;
	margin-top: -110px;
}
#middleCarousel {
	background-color: none;
}
.carousel-control.right.down {
	background-image: linear-gradient(to right,rgba(255, 255, 255, 0.5) 0,rgba(255, 255, 255, 0.0001) 100%);
}
.carousel-control.down {
		opacity: 0.2
}
.carousel-control.left.down {
	background-image: linear-gradient(to right,rgba(255, 255, 255, 0.5) 0,rgba(255, 255, 255, 0.0001) 100%);
}
#sachdaidien {
	box-shadow: none;
}

.bestsellers {
	color: #676358;
}
.hrbestsellers {
	width: 120px;
	margin-left: 0px;
	margin-top: -5px;
	border-color: #676358;
}
a:hover {
	text-decoration: none;
}
.star {
	color: #AEB406;
}
.badge-notify {
	background: red;
	position: relative;
	top: -20px;
	right: 48px;
}

.my-cart-icon {
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: white;
}
.my-account {
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: white;
}
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.carttop {
	float: right;
	cursor: pointer;
	display: none;
}
@media (max-width:768px) {
	  .carttop {
       display: block;
    }
}

.carttop2 {
	float: right;
	cursor: pointer;
	display: none;
	margin-left: 30px;
}
@media (min-width:768px) {
	  .carttop2 {
       display: block;
    }
}

.highlightsub {
	text-align: left;
}

@media (max-width: 768px) {
	  .highlightsub {
	  	text-align: center;
	  }
}

@media only screen and (max-width: 768px) {

   h1 { font-size: 2.0vh; }

}

@media (min-width: 768px){
ul li {display: inline-block;}
ul li:hover {background:none;}
ul li:hover ul {display: block;}

ul li ul li { 
  background: none; 
  display: block; 
}
}

/*BLUR*/

.bg {
  position: relative;
  width: 200px;
  height: 370px;
  left: 20%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.bg:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .5);
}

img .otherbooks {
  position: absolute;
  width: 200px;
  height: 300px;
  left: 0;
}

.testbtn {
	position: absolute;
	opacity: 0;
  	transition: opacity .35s ease;
  	top: 220px;
  	right: 30px;
}

.bg:hover .testbtn {
  opacity: 1;
}

.tuasach {
	position: absolute;
	opacity: 0;
  	transition: opacity .35s ease;
  	top: 10px;
  	right: 0px;
  	left: 0px;
}

.bg:hover .tuasach {
  opacity: 1;
}



.topic {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  width: 620px;
  height: 400px;
  float: left;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.topic:hover .overlay1 {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.imagecategory {
  position: absolute;
  width: 620px;
  height: 400px;
  left: 0;
}

.bookcategory {
  position: absolute;
  width: 620px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.topic:hover .bookcategory {
  top: 90px;
}

.button {
  position: absolute;
  width: 620px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.topic:hover .button {
  opacity: 1;
}

#searchplace {
    width: 100%;
    transition: width 0.4s ease-in-out;
}

#searchplace1 {
	display: none;
    text-align: center;
}
@media (max-width: 768px){
	#searchplace1 {
		display: block;
	}
}


/**
 * The "shine" element
 */

.shine {
	position: relative;
  	overflow: hidden;
  	width: 250px;
  	height: 380px;
}

.shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
/* Hover state - trigger effect */

.shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
@media (max-width: 768px) {
	  .shine {
	  	margin-left: 75px;
	  }
}

/* Active state */

.shine:active:after {
  opacity: 0;
}

.footer {
	background-color: #222222;
}
.feedback {
	width: 100%;
    box-sizing: border-box;
    border-bottom: : 2px solid #ccc;
    font-size: 16px;
    background-color: none;
    color: black;
    margin-bottom: 5px;
}

/* Category CSS */

.headtopic {
	font-size: 4em;
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
	margin-top: 10px;
}
@media (max-width: 768px) {
	.headtopic {
		font-size: 2em;
	}
}
.bookspace {
	text-align: center;
	border: solid 1px;
	border-color: #222222;	
	padding: 20px;
	margin-left: 0px;
	display: inline-block;
	width: 100%;
}

/* ZOOM IN AND BLUR */


.zoomin {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  width: 230px;
  height: 320px;
  margin: 2%;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.zoomin:hover .overlay2 {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.zoomin img {
  position: absolute;
  max-width: 100%;
  height: 320px;
  left: 8px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tuychinh {
	position: absolute;
	opacity: 0;
  	transition: opacity .35s ease;
  	top: 160px;
    right: 50px;
}
.bg:hover .tuychinh {
  opacity: 1;
}

.xoabo {
	position: absolute;
	opacity: 0;
  	transition: opacity .35s ease;
  	top: 200px;
    right: 67px;
}
.bg:hover .xoabo {
  opacity: 1;
}

.testbtn2 {
	position: absolute;
	opacity: 0;
  	transition: opacity .35s ease;
  	top: 240px;
    right: 55px;
}

.zoomin:hover .testbtn2 {
  opacity: 1;
}

.zoomin:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pager li a {
	color: #222222;
}
.pager li>a, .pager li>span {
	background-color: white;
}

/* Detail page */
.selectedbook {
	 box-shadow: 10px 10px 5px #888888;
	 width: 300px; 
	 height: 450px; 
	 margin-bottom: 5px;"
}

/* ZOom out */
ul.gallery{    
	margin-left: 3vw;     
	margin-right:3vw;  
}    

.zoom {   
	height: 70px;
	width: 70px;   
	-webkit-transition: all 0.35s ease-in-out;    
	-moz-transition: all 0.35s ease-in-out;    
	transition: all 0.35s ease-in-out;     
	cursor: -webkit-zoom-in;      
	cursor: -moz-zoom-in;      
	cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
	-ms-transform: scale(2.5);    
	-moz-transform: scale(2.5);  
	-webkit-transform: scale(2.5);  
	-o-transform: scale(2.5);  
	transform: scale(2.5);    
	position:relative;      
	z-index:100;  
}

/**To keep upscaled images visible on mobile, 
increase left & right margins a bit**/  
@media only screen and (max-width: 768px) {   
ul.gallery {      
	margin-left: 15vw;       
	margin-right: 15vw;
}

/**TIP: Easy escape for touch screens,
give gallery's parent container a cursor: pointer.**/
.DivName {cursor: pointer}
}
/* Ket thuc Zoom Out */

/* Fade */
.testfade {
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -moz-animation: fadein 3s; /* Firefox */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera */
    animation: fadein 3s;
}
    
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
/* Ket thuc Fade */

img.avatar {
	width: 50px;
	height: 50px;
}

/* Comment Box */

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid white;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 5px 20px;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  border: 5px solid white;
  box-shadow: 10px 10px 5px #888888;
}

.body .message {
  min-height: 30px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #222222;
}
.avauser {
	width: 70px;
	height: 70px;"
}
@media (max-width: 768px) {
	.avauser {
		width: 50px;
		height: 50px;
	}
}

.commentuser {
	display: inline-flex;
}
.panel-default {
	border: none;
}
.panel-default>.panel-heading {
    color: white;
    background-color: #222;
}
.nav-stacked>li+li {
    border-top: 2px solid #E7E7E7;
}
@media (max-width: 768px) {
	.toolbar {
		display: none;
	}
}
@media (max-width: 768px) {
	.detailsachresponsive {
		text-align: center;
	}
}

/** Login template **/
#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .2;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}

/** Comment Box **/

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.ava-comment {
	width: 100px;
	height: 100px;
	display: block;
	margin-left: 10px; 
}
.ava-user {
	width: 25px;
	height: 25px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
/** Datepicker **/
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */


/*
 *
 *   SCSS by Creative Tim
 *   http://www.creative-tim.com
 *
 */

.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datepicker>div {
    display: none;
}

.datepicker table {
    width: 100%;
    margin: 0;
}

.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datepicker td {
    text-align: center;
}

.datepicker td p {
    font-size: 1em;
    font-weight: 400;
    border-radius: 50%;
    height: 29px;
    line-height: 29px;
    margin: 3px 0 8px;
    width: 29px;
}

.datepicker td :hover {
    cursor: pointer;
}

.datepicker th {
    font-weight: 500;
}

.datepicker th.switch-datepicker {
    font-size: 1em;
}

.datepicker .prev p,
.datepicker .next p {
    font-size: 1.825em;
}

.datepicker p:hover {
    background: #eeeeee;
}

.datepicker .day.disabled {
    color: #eeeeee;
}

.datepicker td.old,
.datepicker td.new {
    color: #999999;
    border-top: 0;
}

.datepicker td.active p,
.datepicker td.active:hover p {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    background-color: #9c27b0;
}

.datepicker td.primary p,
.datepicker td.primary:hover p {
    background-color: #9c27b0;
}

.datepicker td.info p,
.datepicker td.info:hover p {
    background-color: #03a9f4;
}

.datepicker td.success p,
.datepicker td.success:hover p {
    background-color: #4caf50;
}

.datepicker td.warning p,
.datepicker td.warning:hover p {
    background-color: #fbc02d;
}

.datepicker td.danger p,
.datepicker td.danger:hover p {
    background-color: #f44336;
}

.datepicker span {
    display: block;
    width: 55px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datepicker span.old {
    color: #999999;
}

.datepicker span.active,
.datepicker span.active:focus,
.datepicker span.active:hover,
.datepicker span.active:active {
    background-color: #9c27b0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.datepicker span.active {
    color: #FFFFFF;
}

.datepicker span:hover {
    background-color: #EEEEEE;
}

.datepicker span.primary,
.datepicker span.primary:hover {
    background-color: #9c27b0;
}

.datepicker span.info,
.datepicker span.info:hover {
    background-color: #03a9f4;
}

.datepicker span.success,
.datepicker span.success:hover {
    background-color: #4caf50;
}

.datepicker span.warning,
.datepicker span.warning:hover {
    background-color: #fbc02d;
}

.datepicker span.danger,
.datepicker span.danger:hover {
    background-color: #f44336;
}

.datepicker th.switch-datepicker {
    width: 145px;
}

.datepicker th.next,
.datepicker th.prev {
    font-size: 21px;
}

.datepicker thead tr:first-child th {
    cursor: pointer;
}

.datepicker thead tr:first-child th:hover {
    background: #eeeeee;
}

.datepicker.dropdown-menu {
    border-radius: 3px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    margin-top: -20px;
    opacity: 0;
    visibility: hidden;
}

.datepicker.dropdown-menu.open {
    opacity: 1;
    visibility: visible;
    margin-top: 1px;
}

.datepicker .table-condensed>tbody>tr>td {
    padding: 2px;
}

.datepicker .table-condensed>thead>tr>th {
    padding: 0;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.datepicker-months thead {
    padding: 0 0 3px;
    display: block;
}
.input-group {
	margin-top: 0px;
}
/** Carousel **/
.carousel .carousel-indicators li {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
