<!-- Phan Body Datail moi -->
<div class="container" style="padding-top: 50px;" ng-init="getBook()">
	<div class="row testfade">
		<div class="col-md-3 toolbar" style="border-right: 2px solid #E7E7E7; border-bottom: 2px solid #E7E7E7; margin-right: 20px;">	
				<form action="" class="navbar-form" id="searchplace">
   					<div class="input-group">
       					<input type="Search" placeholder="Tìm kiếm..." class="form-control" ng-model="text"/>
       					<div class="input-group-btn">
           					<button class="btn btn-default">
           						<a href="#/search/{{text}}">
           							<span class="glyphicon glyphicon-search"></span>
           						</a>
           					</button>
       					</div>
   					</div>
				</form>
			<br>
			<br>
			<div class="panel panel-default" ng-init="getCategories()">
				<div class="panel-heading"><h4 style="font-weight: bold;">Sách</h4></div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-pills-danger nav-stacked">
						<li ng-repeat="categories in categories"><a href="#category/{{categories._id}}">{{categories.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-8">
		<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-12" style="border: 2px solid #E7E7E7; padding: 0px 0px 25px 0px;" >
			<div class="sachmoi">
				<div style="background-color: #222222; color: white; padding: 20px; border-radius: 2px; margin-bottom: 30px;">
					<h4>{{book.title}}</h4>
				</div>
			</div>
			<div class="col-md-6 col-sm-12" style="text-align: center;">
				<div class="shine">
					<a href="detail.html"><img ng-src={{book.images.main}} class="bookhighlight"></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12  detailsachresponsive">
				<h3 style="font-weight: bolder;">{{book.title}}</h3>
				<a href="#author/{{book.author}}"><h5 style="font-style: italic;">{{book.author}}</h5></a>
				<span uib-rating ng-model="rate" max="5" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
				<p>{{book.publisher}}</p>
				<p>Sku: {{book.sku}}</p>
				<p>Số trang: {{book.pages}} trang</p>
				<p>Giá thị trường: <h4><s>{{book.previousPrice|number}}</s><sup>đ</sup></sub></h4></p>
				<h3 style="color: red">{{book.sellingPrice|number}}<sup>đ</sup></h3>
				<br>
				<br>
				<br>
				<button class="btn btn-danger my-cart-btn" data-id="1" data-name="product 1" data-summary="summary 1" data-price="10" data-quantity="1" data-image="images/travelbook.jpg"><span class="glyphicon glyphicon-shopping-cart"></span>ADD TO CART</button>
			</div>
		</div>
		</div>
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-md-12" style="border: 2px solid #E7E7E7; padding: 25px 15px 25px 15px;">
                    <h4 style="font-weight: bold;">Thông tin sách: </h4>
                    <table class="table table-striped table-responsive">
                        <tbody><tr>
                            <th class="col-xs-2">SKU</th>
                            <td class="col-xs-10 ng-binding">{{book.sku}}</td>
                        </tr>
                        <tr>
                            <th class="col-xs-2"> Nhà xuất bản</th>
                            <td lass="col-xs-10" class="ng-binding">{{book.publisher}}</td>
                        </tr>
                        <tr>
                            <th class="col-xs-2"> Trọng lượng </th>
                            <td lass="col-xs-10" class="ng-binding"> {{book.weight}} <span ng-show="book.weight" class="" style=""> g</span> </td>
                        </tr>
                        <tr>
                            <th class="col-xs-2"> Kích thước</th>
                            <td lass="col-xs-10" class="ng-binding"> {{book.size.width}}<span ng-show="book.size.width" class="" style=""> x </span> {{book.size.depth}} </td>
                        </tr>
                        <tr>
                            <th class="col-xs-2"> Số trang</th>
                            <td lass="col-xs-10" class="ng-binding"> {{book.pages}}</td>
                        </tr>
                        <tr>
                            <th class="col-xs-2"> Ngày xuất bản</th>
                            <td lass="col-xs-10" class="ng-binding"> {{book.releaseDate|date:"dd/MM/yyyy"}}</td>
                        </tr>
                    </tbody></table>
            </div>        
		</div>
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-md-12" style="border: 2px solid #E7E7E7; padding: 25px 15px 25px 15px;">
				<h4 style="font-weight: bold;">Giới thiệu: </h4>
				<div class="full-description" ng-model="book.fullDescription" ta-bind="text"></div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-sm-12" style="border: 2px solid #E7E7E7; padding: 25px 15px 25px 15px;">
				<h4 style="font-weight: bold;">Bình luận: </h4>

				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-white post panel-shadow" ng-repeat="book in book.comments">
                			<div class="post-heading">
                    			<div class="pull-left image">
                        			<img ng-src="{{book._user.avatarUrl}}" class="img-circle avatar" alt="user profile image">
                    			</div>
                    			<div class="pull-left meta">
                        			<div class="title h5">
                            			<a href="#"><b>{{book._user.name}}</b></a> đã đăng.
                        			</div>
                        			<h6 class="text-muted time">{{book.createdDate|date:hour}}</h6>
                    			</div>
                			</div> 
                			<div class="post-description"> 
                    			<p>{{book.commentBody}}</p>
                    			<div class="stats">
                        			<a href="#" class="btn btn-default stat-item">
                            			<i class="fa fa-thumbs-up icon"></i>2
                        			</a>
                        			<a href="#" class="btn btn-default stat-item">
                            			<i class="fa fa-thumbs-down icon"></i>12
                        			</a>
                    			</div>
                			</div>
            			</div>		
					</div>

					<div class="col-sm-12" style="margin-top: 20px; margin-bottom: 10px;">


							<div class="post-heading">
                    			<div class="pull-left image" style="margin-bottom: 15px;">
                        			<img ng-src="{{user.avatarUrl}}" class="img-circle ava-comment" alt="user profile image">
                    			</div>
                    			<div class="pull-left meta">
                        			<div class="title h5">
                            			<a href="#"><b>{{user.name}}</b></a>
                        			</div>
                        			<h6 class="text-muted time">{{book.createdDate|date:hour}}</h6>
                    			</div>
                			</div> 
                			<div class="post-description"> 
                    			<form name="" ng-submit="addComment(book)" class="col-md-12 col-xs-12" novalidate>
                						<input type="text" style="width: 100%; height: 100px;" name="" id="" ng-model="comment.commentBody" required>
                						<div class="thongtin">
                							<br>
                							<label>Gửi đánh giá:</label>
                							<span uib-rating ng-model="rate" max="5" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                						</div>
                						<br>
                						<button class="md-raised md-warn" type="submit"> Bình luận </button>
                				</form>
                			</div>	
													
                			
                			
            					
					</div>

				</div>
			</div>
		</div>
			
		</div>
	</div>
</div>
